
mixin invoiceModule(props={})
    - const targetInvoice=props.targetInvoice ||  "invoice"
    - const title= props.title || "" 
    .component(data-component="invoiceModule" data-target-invoice=targetInvoice)      
        form(data-status="new" method="POST")
            
            .orgdropdown.hidden
                .toggle
                    != h.icon("more")
                    ul.toggleOption
                        li.edit
                            != h.icon("option-edit") 
                            | Modifier
                        li.remove
                            != h.icon("delete-trash") 
                            | Supprimer
            .page-container
                .page-header
                    .page-title=title
                    .meta-table-actions
                .line

                .page-content-container
                    .content-row
                        .col-12
                            label(for="client") Client
                            input(type="text" name="client" autocomplete="off")
                        .col-4
                            label(for="name") numéro de facture
                            input(type="text" name="name" autocomplete="off")
                        .col-4
                            label(for="recurring") facture récurrente
                            select(name='recurring')
                                option(value='None') None
                                option(value='Val1') Val1
                        .col-4
                            label(for="devise") Devise
                            select(name='devise')
                                option(value='DA') DA
                                option(value='USD') USD    
                                option(value='PKR') PKR 
                    .content-row
                        .col-5
                            label(for="invoice_date") Date de la Facture
                            input(class="datepicker" type="text" name="invoice_date" autocomplete="off")
                        .col-5
                            label(for="due_date") Date d'échéance
                            input(class="datepicker" type="text" name="due_date" autocomplete="off")
                        .col-10
                            label(for="admmin_note") Note Admin
                            input(type="text" name="admmin_note" autocomplete="off")
                .space-15
                .line

                .page-content-container.pt-0
                    .content-row.currentRow(data-action="new" data-id=null)
                        .col-5
                            label(for="itemName") Designaiton
                            input(type="text" name="itemName" data-disabled="true"  autocomplete="off" required)
                        .col-7
                            label(for="description") Description
                            input(type="text" name="description" data-disabled="true"  autocomplete="off")
                        .col-3
                            label(for="quantity") Quantity
                            input(type="number" name="quantity" min="0" data-disabled="true"  autocomplete="off" required)
                        .col-3
                            label(for="price") Prix
                            input(type="number" name="price" min="0" data-disabled="true"  autocomplete="off" required)
                        .col-4
                            label(for="total") Montant
                            input(type="number" name="total" min="0"  data-disabled="true"  autocomplete="off" readonly required)
                        .col-2
                            button(type="button" class="newItem icon-plus-btn plus-btn")!= h.icon('plus-circle') 

                    .itemsRow
                    

                    .content-row
                        .col-13
                            .action-buttons
                                .col-8
                                    button(type="submit" class="btn primary-btn icon-btn") Enregister
                                        != h.icon('check-circle') 
                                .col-8
                                    button(type="submit" class="btn secondary-btn icon-btn") Enregistrer & Envoyer
                                        != h.icon('check-circle') 
                        .col-11.calcTotal
                            .total-row
                                .col-9.padding-no
                                    | total H.T
                                .col-15.space-adj
                                    .subTotal 2500000
                                    | DA
                            .total-row
                                .col-9.padding-no
                                    select.taxRate(name='taxRate')
                                        option(value='0') T.V.A: 0 %
                                        option(value='0.19') T.V.A: 19 %
                                .col-15.space-adj
                                    .taxTotal 00
                                    | DA

                            .total-row
                                .col-9.padding-no
                                    | total TTC
                                .col-15.space-adj
                                    .total 2500000
                                    | DA
