
mixin invoiceModule(props={})
    - const targetErp=props.targetErp ||  "erp"
    - const title= props.title || ""
    - const targetClient = props.targetClient || 'client'
    - const targetItem = props.targetItem || 'item'
    - const currencies=props.currencies || [];
    .component(data-component="erpModule" data-target-erp=targetErp)      
        form(data-status="new" method="POST")
            
            .orgdropdown.hidden
                .toggle
                    != h.icon("more")
                    ul.toggleOption
                        li.edit
                            != h.icon("option-edit") 
                            | Modifier
                        li.remove
                            != h.icon("delete-trash") 
                            | Supprimer
            .page-container
                .page-header
                    .page-title=title
                    .meta-table-actions
                .line

                .page-content-container
                    .content-row
                        .col-12
                            label(for="client") Client
                            .component(data-component="searchList" data-error-message="No clients found")   
                                .autocomplete
                                    input(type="text" data-target ="client"  class="searchList" data-output="_id" name="client" data-disabled="true" data-name="client" data-fields="company,managerName,managerSurname" data-label="company" autocomplete="off" placeholder="Rechercher un client" required )    
                                                                            
                        .col-4
                            label(for="number") numéro de facture
                            input(type="text" name="number" autocomplete="off")
                        .col-4
                            label(for="recurring") facture récurrente
                            select(name='recurring')
                                option(value='None') None
                                option(value='30-days') Val1
                        .col-4
                            label(for="currency") Devise
                            select(name='currency')
                                each currency in currencies
                                    option(value=currency._id) #{currency.name}
                    .content-row
                        .col-5
                            label(for="date") Date de la Facture
                            input(class="datepicker" type="text" name="date" autocomplete="off")
                        .col-5
                            label(for="expiredDate") Date d'échéance
                            input(class="datepicker" type="text" name="expiredDate" autocomplete="off")
                        .col-10
                            label(for="note") Note Client
                            input(type="text" name="note" autocomplete="off")
                .space-15
                .line

                .page-content-container.pt-0
                    .content-row.currentRow(data-action="new" data-id=null)
                        .col-5
                            label(for="itemName") Designaiton
                            input(type="text" name="itemName" data-disabled="true"  autocomplete="off" required)
                        .col-7
                            label(for="description") Description
                            input(type="text" name="description" data-disabled="true"  autocomplete="off")
                        .col-3
                            label(for="quantity") Quantity
                            input(type="number" name="quantity" min="0" data-disabled="true"  autocomplete="off" required)
                        .col-3
                            label(for="price") Prix
                            input(type="number" name="price" min="0" data-disabled="true"  autocomplete="off" required)
                        .col-4
                            label(for="total") Montant
                            input(type="number" name="total" min="0"  data-disabled="true"  autocomplete="off" readonly required)
                        .col-2
                            button(type="button" class="newItem icon-plus-btn plus-btn")!= h.icon('plus-circle') 

                    .itemsRow
                    

                    .content-row
                        .col-13
                            .action-buttons
                                .col-8
                                    button(type="submit" class="btn primary-btn icon-btn saveErp") Enregister
                                        != h.icon('check-circle') 
                                .col-8
                                    button(type="submit" class="btn secondary-btn icon-btn") Enregistrer & Envoyer
                                        != h.icon('check-circle') 
                        .col-11.calcTotal
                            .total-row
                                .col-9.padding-no
                                    | total H.T
                                .col-15.space-adj
                                    .subTotal 00.00
                                    span DA
                            .total-row
                                .col-9.padding-no
                                    select.taxRate(name='taxRate')
                                        option(value='0') T.V.A: 0 %
                                        option(value='0.19') T.V.A: 19 %
                                .col-15.space-adj
                                    .taxTotal 00.00
                                    span DA

                            .total-row
                                .col-9.padding-no
                                    | total TTC
                                .col-15.space-adj
                                    .total 00.00
                                    span DA
