
mixin prescriptionGrid(actionForm={}, title='')
    .component(data-component="prescriptionGrid")      
        form(action=actionForm+"create/" data-status="new" data-add=actionForm+"create/" data-edit=actionForm+"update/" data-read=actionForm+"read/" data-delete=actionForm+"delete/" method="POST")
            
            .orgMoreOption.hidden
                .toggle
                    != h.icon("more")
                    ul.toggleOption
                        li.edit
                            != h.icon("option-edit") 
                            | Modifier
                        li.remove
                            != h.icon("delete-trash") 
                            | Supprimer
            .page-container
                .page-header.d-flex
                    .back
                        != h.icon("left-circle")
                    .page-title
                    .meta-table-actions
                        span.action-item 
                            select(name='type' class="prescriptionType consultation-header-dd")
                                option(value='prescription') Ordonnance
                                option(value='letter') Lettre
                .hidden
                      input(type="text" name="consultation" autocomplete="off")                                 
                      input(type="text" name="doctor" autocomplete="off")
                      input(type="text" name="patient" autocomplete="off")
                .line
        .page-container
            .prescriptionForm.prescription
                .page-content-container
                    .content-row.currentRow(data-action="new" data-id=null)
                        .col-7.omega.component(data-component="searchList")   
                            label(for="medicamentName") Medicament
                            .autocomplete
                                input(type="text" name="medicamentName" data-name="medicamentName" data-label="name" data-output="name" class="searchAjax" data-ajax="/api/medicament/search?q=" data-disabled="true" autocomplete="off" required)
                        .col-3.omega
                            label(for="boxesNumber") Nbr. Boites
                            input(type="number" name="boxesNumber" data-disabled="true" autocomplete="off" required)
                        .col-3.omega
                            label(for="daysNumber") Nbr. Jours
                            input(type="number" name="daysNumber" data-disabled="true" autocomplete="off" required)
                        .col-2.omega
                            label(for="drugsNumber") Nbr.Cp
                            input(type="number" name="drugsNumber" data-disabled="true" autocomplete="off" required)
                        .col-2.omega
                            label(for="times") Nbr.Fois
                            input(type="number" name="times" data-disabled="true" autocomplete="off" required)                            
                        .col-5.omega
                            label(for="note") Observation
                            input(type="text" name="note" data-disabled="true")  
                        .col-2
                            button(type="button" class="newMedicament icon-plus-btn plus-btn")!= h.icon('plus-circle') 

                    .medicament-row(data-more=["","Boite(s)","Jour(s)","Cp","Fois",""])
                        
               
            .prescriptionForm.letter.hidden
                .page-content-container
                    .content-row
                        .col-24  
                            label(for="letter") Lettre
                            textarea(name="letter" data-disabled="true" class="letter")

                 
            .page-content-container
                        
                    .space
                    .content-row
                        .col-24
                            .action-buttons
                                .col-7.alpha
                                    button(type="submit" class="savePrescription btn primary-btn icon-btn") Enregistrer
                                        != h.icon('check-circle') 
                                .col-7.omega
                                    a(href='#' class="downloadPdf")
                                        button(class="btn secondary-btn icon-btn") Enregistrer & Imprimer
                                            != h.icon('printer')                                                                                                                                     