
mixin consultationTypeForm(target={},formState="create",specialitys={})
    .component(data-component="ajaxForm")
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            
                    
            .col-24.alpha.omega   
                label(for="name") Type de consultation
                input(type="text" name="name" data-name="name" class="text"  autocomplete="off" required)
            .col-12.alpha   
                label(for="speciality") Spécialité
                select(name='specialty' class="ajaxSelect" data-id=id data-ajax=filter required)
                    option(value="null")  selectionner la specialite
                    each specialty in specialtys
                        option(value=specialty.id) #{specialty.name}
            .col-12.omega    
                label(for="status") Disponibilite
                select(name='status' required)
                    option(value='oui') Oui
                    option(value='non') Non
            .col-24.alpha.omega   
                label(for="description") La description
                textarea(name="description" data-name="description" rows="5" autocomplete="off" required)
            .col-24.alpha.omega   
                label(for="price") Tarif
                input(type="text" name="price" autocomplete="off" data-currency="DA" required)                    
            
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 