include autocomplete/_patientAutocomplete

mixin laboratoryForm(target={},formState="create",consultationTypes=[],curentDoctor={}) 
    
    .component(data-component="ajaxForm")
        //- - const specialtys = specialty
        
        
        form.ajax(data-formtype="consultation" autocomplete="off" action=actionForm+"create/" data-add=actionForm+"create/" data-edit=actionForm+"update/" data-read=actionForm+"read/" method="POST")
            
            .col-24.alpha.omega  
                label(for="patient") Patient
                +patientAutocomplete()

            .col-24.alpha.omega
                label(for="consultationType") Consultation Type
                select(name='consultationType'  data-name="consultationType._id"  required)
                    option(value="null")  selectionner le type de consultation
                    each consultationType in consultationTypes
                        option(value=consultationType.id) #{consultationType.name}                    
           
            .clearfix
            .hidden
                input(type="text" name="doctor" data-name="doctor._id" value=curentDoctor._id required)
               
            .col-12.alpha    
                button(type="submit" class="save")  Nouvellle Consultation     
            .col-12.omega
                button(type="button" class="cancel")  Cancel



