
mixin patientForm(target={},formState="create")
    .component(data-component="ajaxForm")
        - const lists = ["01 - Adrar","02 - Chlef","03 - Laghouat","04 - Oum el-Bouaghi","05 - Batna","06 - Béjaïa","07 - Biskra","08 - Béchar","09 - Blida","10 - Bouïra","11 - Tamanghasset","12 - Tébessa","13 - Tlemcen","14 - Tiaret","15 - Tizi Ouzou","16 - Alger","17 - Djelfa","18 - Jijel","19 - Sétif","20 - Saïda","21 - Skikda","22 - Sidi Bel Abbès","23 - Annaba","24 - Guelma","25 - Constantine","26 - Médéa","27 - Mostaganem","28 - Msila","29 - Mascara","30 - Ouargla","31 - Oran","32 - El Bayadh","33 - Illizi","34 - Bordj Bou Arréridj","35 - Boumerdès","36 - El Taref","37 - Tindouf","38 - Tissemsilt","39 - El Oued","40 - Khenchela","41 - Souk Ahras","42 - Tipaza","43 - Mila","44 - Aïn Defla","45 - Naâma","46 - Aïn Témouchent","47 - Ghardaïa","48 - Relizane"]
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            
            .col-12.alpha
                label(for="name") Nom
                input(type="text" name="name" autocomplete="off")
            .col-12.omega    
                label(for="surname") Prenom
                input(type="text" name="surname" autocomplete="off")
            .col-12.alpha
                label(for="birthday") Date de naissance
                input(class="date" type="text" name="birthday" autocomplete="off")
            .col-12.omega    
                label(for="birthplace") Lieu de naissance
                select(name='birthplace' )
                    each list,index in lists
                        option(value=index+1) #{list}
                    option(value="99") A l'etranger  
            .col-12.alpha
                label(for="sexe") Sexe
                select(name='sexe')
                    option(value='Femme') Femme
                    option(value='Homme') Homme
            .col-12.omega
                label(for="boldType") Groupe Saugin
                select(name='boldType')
                    option(value='A+') A+
                    option(value='AB+') AB+
                    option(value='O+') O+
                    option(value='O-') O-
            .col-12.alpha
                label(for="size") Taille
                input(class="datepicker" datepicker-disabled-dates="['2020-02-20']" type="text" name="size" autocomplete="off")
            .col-12.omega    
                label(for="weight") Poids
                input(type="text" name='weight' autocomplete="off")
            .col-12.alpha
                label(for="address") Adresse
                input(type="text" name="address" autocomplete="off")
            .col-12.omega    
                label(for="state") Wilaya  
                select(name='state' )
                    each list in lists
                        option(value=list) #{list}
            .col-12.alpha
                label(for="job") Profession
                input(type="text" name="job" autocomplete="off")
            .col-12.omega    
                label(for="urgentContact") Personne ECU
                input(type="text" name='urgentContact' autocomplete="off")
            .col-12.alpha    
                label(for="tel") Tel
                input(type="text" name="tel" autocomplete="off")
            .col-12.omega       
                label(for="email") Email
                input(type="email" name="email" autocomplete="off")
            
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 
