
mixin paymentForm(target={},formState="create", employees=[], patients=[],currencies=[], paymentModes=[], doctors=[])

    .component(data-component="ajaxForm")  
        
      
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            
          
            .col-12.alpha
                label(for="number") Number
                    abbr *
                input(type="number" required name="number" data-name="number" autocomplete="off")

            .col-12.omega
                label(for="client") Employees
                    abbr *
                select(name='employee' required data-name="employee")
                    each employee in employees
                        option(value=employee._id) #{employee.name}
            
            .col-12.alpha
                label(for="patient") Patient
                    abbr *
                select(name='patient' required data-name="patient")
                    each patient in patients
                        option(value=patient._id) #{patient.name}
            .col-12.omega
                label(for="amount") Amount
                    abbr *
                input(type="number" name="amount" required data-name="amount" autocomplete="off")
            
            .col-12.alpha
                label(for="currency") Currency
                select(name='currency' data-name="currency")
                    each currency in currencies
                        option(value=currency._id) #{currency.name}
            .col-12.omega
                label(for="PaymentMode") Payment Mode
                select(name='paymentMode' data-name="paymentMode")
                    each paymentMode in paymentModes
                        option(value=paymentMode._id) #{paymentMode.name}
           
            .col-12.alpha    
                label(for="date") Date
                    abbr *
                input.datepicker(type="text" required class="date" name="date" data-name="date" autocomplete="off")
            .col-12.omega
                label(for="doctor") Doctor
                select(name='doctor' data-name="doctor")
                    each doctor in doctors
                        option(value=doctor._id) #{doctor.name}

            .col-24.alpha.omega  
                label(for="ref") ref
                    abbr *
                input(type="text" required name="ref" data-name="ref"  autocomplete="off")

            .col-24.alpha.omega
                .col-18.alpha.omega
                    label(for="service") Service Name
                        abbr *
                    input(type="text" name="service[name][]" data-name="service.name" autocomplete="off")
                .col-4.alpha
                    label &nbsp;
                    input(class="btn" type="button" value="+")
            
            .col-24.alpha.omega
                label(for="description") Description
                    abbr *
                textarea(required name="description" data-name="description" autocomplete="off")

            .col-24.alpha.omega
                label(for="enabled") Activée
                select(name='enabled')
                    option(value='true') Oui
                    option(value='false') Non

            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 